APP_ENV=development

MYSQL_DATABASE=portal_smk_telkom_lampung
MYSQL_USER=root
MYSQL_PASSWORD=0899
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306

BACKEND_PORT=8080
API_BASE_URL=http://localhost:8080/api/v1
FRONTEND_URL=http://localhost:3000

JWT_SECRET=change-this-local-secret-minimum-32-characters
COOKIE_DOMAIN=
COOKIE_SECURE=false

SEED_SUPERADMIN_NAME=Super Admin
SEED_SUPERADMIN_EMAIL=superadmin@smktelkom-lpg.sch.id
SEED_SUPERADMIN_PASSWORD=ChangeMe123!
